@model Group5_GameStore.Models.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RatingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublisherId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublisherId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlatformId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlatformId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
